/* Fonts */
@font-face {
  font-family: "National";
  src: url("/dist/National-LFS-Book.eot");
  src: url("/dist/National-LFS-Book.eot?#iefix") format("embedded-opentype"), url("/dist/National-LFS-Book.woff2") format("woff2"), url("/dist/National-LFS-Book.woff") format("woff");
}
@font-face {
  font-family: "National";
  src: url("/dist/National-LF-BookItalic.eot");
  src: url("/dist/National-LF-BookItalic.eot?#iefix") format("embedded-opentype"), url("/dist/National-LF-BookItalic.woff2") format("woff2"), url("/dist/National-LF-BookItalic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "National";
  src: url("/dist/National-LFS-Semibold.eot");
  src: url("/dist/National-LFS-Semibold.eot?#iefix") format("embedded-opentype"), url("/dist/National-LFS-Semibold.woff2") format("woff2"), url("/dist/National-LFS-Semibold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "National";
  src: url("/dist/National-LF-SemiboldItalic.eot");
  src: url("/dist/National-LF-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/dist/National-LF-SemiboldItalic.woff2") format("woff2"), url("/dist/National-LF-SemiboldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
strong {
  font-weight: 500;
}

.font-size-base {
  font-size: 1.125rem;
  line-height: 1.5;
}

.font-size-alpha {
  font-size: 2.3rem;
  line-height: 1.1;
}
@media (min-width: 992px) {
  .font-size-alpha {
    font-size: 2.6rem;
    line-height: 1.1;
  }
}

.font-size-beta {
  font-size: 2rem;
  line-height: 1.1;
}
@media (min-width: 992px) {
  .font-size-beta {
    font-size: 2.3rem;
    line-height: 1.1;
  }
}

.font-size-gamma {
  font-size: 1.85rem;
  line-height: 1.2;
}
@media (min-width: 992px) {
  .font-size-gamma {
    font-size: 2.05rem;
    line-height: 1.2;
  }
}

.font-size-delta {
  font-size: 1.66rem;
  line-height: 1.2;
}

.font-size-epsilon {
  font-size: 1.25rem;
  line-height: 1.35;
}

.font-size-epsilon {
  font-size: 1.25rem;
  line-height: 1.35;
}

.font-size-milli {
  font-size: 1rem;
  line-height: 1.4;
}

.font-size-micro {
  font-size: 0.85rem;
  line-height: 1.2;
}

.ItemTimingHeading {
  text-align: center;
}

.InDesignBold {
  font-weight: 500;
}

@media screen and (max-width: 769px) {
  p.numbered span.number {
    margin-left: -1.2rem;
    display: inline-block;
    width: 1.2rem;
    font-weight: 500;
  }
}
span.number {
  margin-left: -2.2rem;
  display: inline-block;
  width: 2.2rem;
  font-weight: 500;
}

.numbered.InDesignBold + p {
  margin-top: -9px;
}

/*add space arround signatures*/
.Sig1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*indents*/
.NormalIndent3 {
  padding-left: 15%;
}

.NormalIndent4 {
  padding-left: 20%;
}

.NormalIndent5 {
  padding-left: 25%;
}

/*end indents*/
/*default table paragraph styles*/
.TableBody, .TableHeader, table .ItemTimingHeading {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.InDesignBold {
  font-weight: bold;
}

.InDesignRightAlligned {
  clear: both;
  text-align: right;
}

.Sig1 {
  clear: both;
  text-align: right;
  font-style: italic;
  font-weight: 700;
  font-size: 150%;
}

.Sig2 {
  clear: both;
  text-align: right;
  font-style: italic;
  font-weight: 700;
}

/*add space arround signatures*/
.Sig1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/**** Tables ****/
.StandardTable {
  margin-left: 3.5%;
}

table.allLines {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.allLines {
  border: 1px solid black;
  border-collapse: collapse;
}

.allLines p.Normal-Haning {
  padding-left: 0;
  margin-bottom: 0;
}

table.allInnerLines {
  /*border: none; /* this wont win so do the below */
  margin-left: 3.5%;
  width: 85%;
  border-style: hidden;
}

.allInnerLines p.Normal-Haning {
  padding-left: 0;
  margin-bottom: 0;
}

.allInnerLines td, .allInnerLines th {
  border: 1px solid black;
}

.allInnerLines {
  border-collapse: collapse;
}

table.innerColumnLinesAndAllInnerHeaderLines {
  margin-left: auto;
  margin-right: auto;
  /*margin-left: 3.5%;*/
  width: 85%;
  border-style: hidden;
}

.innerColumnLinesAndAllInnerHeaderLines p {
  margin-bottom: 0;
}

.innerColumnLinesAndAllInnerHeaderLines td {
  border-right: 1px solid black;
}

.innerColumnLinesAndAllInnerHeaderLines th td,
.innerColumnLinesAndAllInnerHeaderLines thead td {
  border: 1px solid black;
}

.innerColumnLinesAndAllInnerHeaderLines {
  border-collapse: collapse;
}

/**** End Tables ****/
h2.underline {
  margin-top: 30px;
}

.underline {
  border-bottom: solid 1px #CBC9CD;
}

.Half-line-after {
  width: 35%;
  border-style: solid;
  border-color: #CBC9CD;
}

.MotionSponsor {
  font-weight: 500;
  margin-bottom: 0;
}

.MotionSponsor + :not(.MotionSponsor), .Motion-Sponsor-Indent1 + :not(.Motion-Sponsor-Indent1) {
  margin-top: 15px;
}

.Tabled-Names {
  margin-bottom: 0;
  text-align: right;
  font-weight: 500;
}

.Tabled-Names .Roman {
  font-weight: normal;
  margin-left: 20px;
}

span.Roman, span.Prayer {
  font-weight: normal;
}

.UIN {
  margin-right: 15px;
}

/*#region Variables */
/*#endregion Variables */
/*#region Containers */
.container-fluid {
  max-width: 1140px;
}

.OP-left-margin {
  overflow-wrap: break-word;
}

/*#endregion Containers */
/*#region Headings */
.DocumentTitle {
  border-bottom: 1px solid;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

.MainTitle {
  border-bottom: 1px solid;
  font-size: 1.618em;
  font-weight: 500;
  padding-bottom: 0.5em;
}

.paraBusinessSub-SectionHeading {
  font-size: 1.309em;
  letter-spacing: 0.025em;
  margin-right: 0;
  margin-left: 0;
  padding: 0.1em 3em;
  text-align: center;
  text-transform: uppercase;
}

.Heading3Underlined {
  border-bottom: 1px solid;
  font-size: 1.309em;
  font-weight: 500;
  margin-top: 45px;
  margin-bottom: 27px;
  padding-bottom: 0.309em;
}

.paraChamberSummaryHeading {
  text-transform: none;
}

.paraBusinessTodayChamberHeading {
  margin-left: 0 !important;
  text-align: center;
  padding-left: 3em !important;
  padding-right: 1em !important;
}

.paraBusinessItemHeading {
  text-transform: none;
}

/*#endregion Headings */
/*#region Paragraphs */
.NumberedParaHanging {
  margin-left: 2.2rem;
}

.NumberedParaHanging span {
  display: inline-block;
  margin-left: -2.2rem;
  padding-right: 1rem;
  text-align: right;
  width: 2.2rem;
}

.paraMotionSub-Paragraph,
.paraAmendmentSponsor {
  margin-left: 2.2rem;
}

.paraAmendmentSponsor {
  font-weight: 500;
}

.paraMotionSubSub-Paragraph {
  margin-left: 4.4rem;
}

.MotionSponsorGroup_indent {
  margin-left: 2.2rem;
}

/*#endregion Paragraphs */
/*#region Tables */
.Basic-Text-Frame table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 45px;
  margin-bottom: 27px;
  width: 100%;
}

.Basic-Text-Frame table td {
  border: 0;
  padding: 0.5em;
  vertical-align: top;
}

.Basic-Text-Frame table thead td {
  background-color: #EAEAEA;
  font-weight: 500;
}

.Basic-Text-Frame table thead td p {
  margin: 0;
}

/*#endregion Tables*/
/*#region Dividers */
hr {
  border-top: 1px solid;
  display: block;
  height: 1px;
  padding: 1.55em 0;
  width: 8em;
}

/*#endregion Dividers*/
/*#region Tables */
.Front-Page-Table,
.Front-Page-Table td {
  border: none;
}

.Front-Page-Table td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.Front-Page-Table .Alline-Right {
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #393939;
  padding-right: 0.75em;
}

.Front-Page-Table .Alline-left {
  padding-left: 0.75em;
}

.Alline-Right {
  text-align: right;
}

.InvisibleTable {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  width: 100%;
}

.InvisibleTable hr {
  background-color: #393939;
}

/*#endregion Tables */

/*# sourceMappingURL=businesspapers-2014-alternative.css.map */
