/*#region Variables */

// standard indent level
$indent-amount: 2.2rem;

// default margin bottom from design system
$para-spacing: 18px;

$font-bold: 500;

/*#endregion Variables */

/*#region Layout */

.OP-left-margin {
    margin-left: 0 !important;
}

.questionsSection {
    margin-top: 1.55em;
    border-top: 1px solid;
    padding-top: 1.55em;
}

/*#endregion Layout */

/*#region Headings */

.DocumentTitle,
.Title {
    border-bottom: 1px solid;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-bottom: $para-spacing !important;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.MainTitle,
.mainTitle,
#content-goes-here h2 {
    border-bottom: 1px solid;
    color: #4d4d4d !important;
    font-size: 1.618em !important;
    font-weight: 500;
    line-height: 1.5 !important;
    padding-bottom: 0.5em;
}

.questionsSection h2.date {
    border-bottom: none !important;
    font-weight: 400 !important;
    padding-bottom: 0 !important;
}

.questionsSection h3.target {
    font-size: 1em;
}

.paraBusinessSub-SectionHeading {
    background-color: #717171;
    color: #fff;
    font-size: 1.309em;
    letter-spacing: 0.025em;
    margin-right: 0;
    margin-left: 0;
    padding: 0.1em 1em;
    text-align: center;
    text-transform: uppercase;
}

.Heading3Underlined {
    border-bottom: 1px solid;
    font-size: 1.309em;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 27px;
    padding-bottom: 0.309em;
}

.paraChamberSummaryHeading {
    // was text-transform: uppercase; before 2024 redesign
    font-size: 1.2em;
    margin-top: 36px;
    margin-bottom: 27px;
    text-transform: none !important;
}

.paraBusinessTodayChamberHeading,
.paraBusinessSub-SectionHeading {
    margin-left: 0 !important;
    text-align: center;
    line-height: 1.1;
    padding: 0.1em 1.5em 0.2em 1.5em !important;
}

.paraBusinessItemHeading {
    text-transform: none;
}

.anchor-link {
    display: inline-block !important;
    height: 1em;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
}

.anchor-link::after {
    display: block;
    margin-top: -0.075em;
    padding-left: 0.5em;
    position: absolute;
}

.Tabled-Names {
    margin-bottom: $para-spacing/2;
    text-align: left;
}

.Tabled-Names .Roman {
    margin-left: 3em;
}

/*#endregion Headings */

/*#region Paragraphs */

.NumberedParaHanging {
    margin-left: $indent-amount;
}

.NumberedParaHanging span {
    display: inline-block;
    margin-left: - $indent-amount;
    padding-right: 1rem;
    text-align: right;
    width: $indent-amount;
}

.paraMotionSub-Paragraph,
.paraAmendmentSponsor {
    margin-left: $indent-amount;
}

.paraAmendmentSponsor,
.A2A-Sponsor {
    font-weight: $font-bold
}

.paraMotionSubSub-Paragraph,
.paraMotionSub-Sub-Paragraph,
.A2A-Normal,
.A2A-Sponsor,
.A2A-SponsorGroup {
    margin-left: $indent-amount * 2;
}

.paraAmendmentSponsor,
.A2A-Sponsor {
    margin-bottom: 0;
}

.MotionSponsorGroup_indent {
    margin-left: $indent-amount;
}

.MotionSponsorGroup_indent,
.A2A-SponsorGroup {
    margin-top: $para-spacing;
}

.MotionSponsorGroup_indent span,
.A2A-SponsorGroup span {
    padding-right: $indent-amount !important;
    padding-left: 0 !important;
}

.paraMotionSub-Sub-Sub-Paragraph {
    margin-left: $indent-amount * 3;
}

.hanging1 {
    padding-right: 0.5em;
}

.EDMTitle {
    font-size: 1em !important;
    line-height: 1.5 !important;
    margin-bottom: 0 !important;
    padding-left: 3em;
}

.EDMTitle .UIN {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: -3em;
    min-width: 2.5em;
}

.questionContainer {
    padding-left: 2em;
}

.questionNumber {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: -2em;
    min-width: 1.5em;
}

/*#endregion Paragraphs */

/*#region Tables */

.Front-Page-Table td {
    vertical-align: top;
}

.Basic-Text-Frame table,
table.StandardTable {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 27px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    white-space: nowrap;
}

table.StandardTable {
    margin-left: 0 !important;
}

.Basic-Text-Frame table td,
table.StandardTable td {
    border: 1px solid;
    padding: 0.5em 0.75em;
    vertical-align: top;
    width: auto;
}

.Basic-Text-Frame table thead td,
table.StandardTable thead td {
    background-color: #EAEAEA;
    font-weight: 500;
}

.Basic-Text-Frame table thead td p {
    margin: 0;
}

/*#endregion Tables*/

/*#region Dividers */

.Line_Interstitial,
.ShortDevider {
    border-top: 1px solid;
    display: block;
    height: 1px;
    margin: 1.55em 0 !important;
    overflow: hidden;
    padding: 0 !important;
    width: 3em;
}

/*#endregion Dividers*/