@font-face {
  font-family: "National";
  src: url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LFS-Book.eot");
  src: url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LFS-Book.eot?#iefix") format("embedded-opentype"), url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LFS-Book.woff2") format("woff2"), url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LFS-Book.woff") format("woff");
}
@font-face {
  font-family: "National";
  src: url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LF-BookItalic.eot");
  src: url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LF-BookItalic.eot?#iefix") format("embedded-opentype"), url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LF-BookItalic.woff2") format("woff2"), url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LF-BookItalic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "National";
  src: url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LFS-Semibold.eot");
  src: url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LFS-Semibold.eot?#iefix") format("embedded-opentype"), url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LFS-Semibold.woff2") format("woff2"), url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LFS-Semibold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "National";
  src: url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LF-SemiboldItalic.eot");
  src: url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LF-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LF-SemiboldItalic.woff2") format("woff2"), url("https://commonsbusiness.parliament.uk/external/html-papers/v1.0/National-LF-SemiboldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
strong {
  font-weight: 500;
}

.font-size-base {
  font-size: 1.125rem;
  line-height: 1.5;
}

.font-size-alpha {
  font-size: 2.3rem;
  line-height: 1.1;
}
@media (min-width: 992px) {
  .font-size-alpha {
    font-size: 2.6rem;
    line-height: 1.1;
  }
}

.font-size-beta {
  font-size: 2rem;
  line-height: 1.1;
}
@media (min-width: 992px) {
  .font-size-beta {
    font-size: 2.3rem;
    line-height: 1.1;
  }
}

.font-size-gamma {
  font-size: 1.85rem;
  line-height: 1.2;
}
@media (min-width: 992px) {
  .font-size-gamma {
    font-size: 2.05rem;
    line-height: 1.2;
  }
}

.font-size-delta {
  font-size: 1.66rem;
  line-height: 1.2;
}

.font-size-epsilon {
  font-size: 1.25rem;
  line-height: 1.35;
}

.font-size-epsilon {
  font-size: 1.25rem;
  line-height: 1.35;
}

.font-size-milli {
  font-size: 1rem;
  line-height: 1.4;
}

.font-size-micro {
  font-size: 0.85rem;
  line-height: 1.2;
}

/* Start of styles for 2024 redesign */
.paraChamberSummaryHeading {
  text-transform: none;
}

.paraBusinessTodayChamberHeading {
  margin-left: 0 !important;
  text-align: center;
  padding-left: 3em !important;
  padding-right: 1em !important;
}

.paraBusinessSub-SectionHeading {
  margin-left: 0 !important;
  text-align: center;
  padding-left: 3em !important;
  padding-right: 1em !important;
}

.paraBusinessItemHeading {
  text-transform: none;
}

.NumberedParaHanging {
  margin-left: 2.2rem;
}

.NumberedParaHanging span {
  display: inline-block;
  margin-left: -2.2rem;
  padding-right: 1rem;
  text-align: right;
  width: 2.2rem;
}

.paraMotionSub-Paragraph, .paraAmendmentSponsor {
  margin-left: 2.2rem;
}

.paraAmendmentSponsor {
  font-weight: 500;
}

.paraMotionSubSub-Paragraph {
  margin-left: 4.4rem;
}

.MotionSponsorGroup_indent {
  margin-left: 2.2rem;
}

/* End of styles for 2024 redesign */

/*# sourceMappingURL=sass_for_john.css.map */
